@import url(https://fonts.googleapis.com/css?family=Ceviche%20One);

.CevicheOneFont {
    font-family: 'Ceviche One';
    font-size: 40px;
}

#htmlBody {
    background-image: url('../../assets/background1.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@keyframes logoAnimation {
    from {
        opacity: 0;
        transform: translate3d(0,-40%,0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes footerAnimation {
    0% {
        opacity: 0;

    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.siteLogo {
    margin-top: 20px;
    height: 70px;
    width: 500px;
    animation: 1s logoAnimation;
}

.siteBar {
    animation: 1s logoAnimation;
}

.siteFooter {
    margin-bottom: 20px;
    margin-top: -30px;
    animation: 2s footerAnimation;
}

.fbContact {
    color: #4669c9;
}

.googleContact {
    color: #d34836;
}

@media only screen and (max-width: 550px) {
    .siteLogo {
        height: 50px;
        width: 350px;
    }
}