<section class="store">
  <!--<nav-bar></nav-bar>-->
  <div class="container has-text-centered siteLogo">
      <img src="../../assets/logoFantasia3.png">
  </div>

  <div>
    <router-view></router-view>
  </div>
  <div class="siteFooter has-text-centered CevicheOneFont">
      Contactez nous sur:
      <a class="mdi mdi-facebook-box mdi-36px fbContact" href="https://www.facebook.com/laura.bhy.1" target="_blank"></a>
      <a class="mdi mdi-google-plus-box mdi-36px googleContact" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=fantasia.shop1@gmail.com&tf=1" target="_blank"></a>
  </div>
</section>

