<section class="admin-nav-bar">
    <nav class="navbar is-primary">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="#" style="font-weight:bold;">
              Admin Console
            </a>
            <!--
            <span class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          -->
            <div class="navbar-burger" @click="showNav = !showNav" :class="{ 'is-active': showNav }">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
          <div id="navMenu" class="navbar-menu" :class="{ 'is-active': showNav }">
            <div class="navbar-end">
              <a id="Create" class="navbar-item" @click="goToCreate">Create Product</a>
              <a id="Delete" class="navbar-item" @click="goToDelete">Delete Product</a>
            </div>
          </div>
        </div>
      </nav>    
</section>

