<section class="product-list">
    <section class="section cards" id="ProductList">
      <div class="container">
        <div class="box containerBox">
        <h1 class="has-text-centered leckOne">Produits disponible</h1>
        <br>
        <div class="columns is-mobile is-multiline" id="generatedListPortion">
          <div class="column is-6-mobile is-2-tablet is-2-desktop" v-for="product in paginatedData()">
            <a class="block-link" v-on:click="showImage(product.name, product.description, product.price, product.picture)">
              <div class="box">
                <figure class="image is-square">
                    <img :src="product.picture">
                  </figure>
              </div>
            </a>
          </div>
        </div>
        <div class="has-text-centered" id="pageNavigationBtns">
          <a class="button is-success is-outlined" @click="prevPage" :disabled="pageNumber == 0">
            <b-icon icon="arrow-left-bold"></b-icon>
            &ensp;
            <span class="CevicheOneFont">
              Précédent
            </span>
            
          </a>
          &ensp;
          <span class="CevicheOneFont">
            Page {{ pageNumber + 1}} of {{ pageCount() + 1}}
          </span>
          &ensp;
          <a class="button is-success is-outlined" @click="nextPage" :disabled="pageNumber >= pageCount()">
            <span class="CevicheOneFont">
              Suivant
            </span>
            &ensp;
            <b-icon icon="arrow-right-bold"></b-icon>
          </a>
        </div>
      </div>
    </div>
  </section>
</section>