@import '~bulma';
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);
@import url(https://fonts.googleapis.com/css?family=Ceviche%20One);
@import url(https://fonts.googleapis.com/css?family=Knewave);
@import url(https://fonts.googleapis.com/css?family=Leckerli%20One);
@import url(https://fonts.googleapis.com/css?family=Amaranth);
@import url(https://fonts.googleapis.com/css?family=Galada);
@import url(https://fonts.googleapis.com/css?family=Reem%20Kufi);

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;
$box-padding: 0.25rem;

.knewaveFont{
  font-family: 'Knewave';
  font-size: 20px;
  color: beige;
}

.leckOne{
  font-family: 'Leckerli One';
  font-size: 40px;
}

.CevicheOneFont {
  font-family: 'Ceviche One';
  font-size: 23px;
}

.toolBarTitle {
  font-family: $roboto-slab;
  font-weight: bold;
}

.block-link {
  display: block;
}

html {
  overflow-y: hidden;
}

@keyframes smallFadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0,20%,0);
  }
  to {
      opacity: 1;
      transform: none;
  }
}

@keyframes nextPageAnimation {
  0% {
    opacity: 1;
    transform: none;
  }
  35% {
    opacity: 0;
    transform: translate3d(10%,0,0);
  }
  50% {
    opacity: 0;
    transform: none;
  }
  65% {
    opacity: 0;
    transform: translate3d(-10%,0,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes predPageAnimation {
  0% {
    opacity: 1;
    transform: none;
  }
  35% {
    opacity: 0;
    transform: translate3d(-10%,0,0);
  }
  50% {
    opacity: 0;
    transform: none;
  }
  65% {
    opacity: 0;
    transform: translate3d(10%,0,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.nextPage {
  animation: 1.5s nextPageAnimation;
}

.predPage {
  animation: 1.5s predPageAnimation;
}

#ProductList {
  animation: 1s smallFadeInUp;
}

.containerBox {
  background-color: hsla(0, 0%, 0%, 0);
}

.disabledDiv {
  pointer-events: none;
  opacity: 0.4;
}