@import '~bulma';
@import url(https://fonts.googleapis.com/css?family=Ceviche%20One);

.CevicheOneFont {
    font-family: 'Ceviche One';
    font-size: 100px;
}

@media only screen and (max-width: 450px){
    .CevicheOneFont {
        font-size: 40px;
    }
}