
<section class="page-not-found">
  <div class="container has-text-centered">
    <div class="CevicheOneFont">
      404 Page Not Found
    </div>
    <img src="../../assets/404.png" width="700px">
  </div>
</section>

