<section class="admin">
  <admin-nav-bar></admin-nav-bar>
  <section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div>
              <div class="adminContent">
                <router-view></router-view>
              </div>
            </div>
        </div>
    </div>
  </section>
</section>

