<section class="admin-delete-product">
  <div class="chewyFont">
    Delete Product
  </div>
  <br>
  <div class="box">
    <b-table
      :data="products"
      :narrowed="true"
      paginated
      per-page="10"
      
    >
      <template slot-scope="props">
        <b-table-column field="name" label="Name" width="100">
          {{ props.row.name }}
        </b-table-column>

        <b-table-column field="description" label="Description" width="700">
          {{ props.row.description }}
        </b-table-column>

        <b-table-column field="price" label="Price" width="100">
          {{ props.row.price }}
        </b-table-column>

        <b-table-column width="100">
          <div class="button is-danger" @click="deleteProduct(props.row._id)">
            Delete
          </div>
        </b-table-column>
      </template>
    </b-table>
  </div>
</section>

