<section class="admin-add-product">
  <div class="chewyFont">
    Add Product
  </div>
  <br>
  <div class="box">
    <form @submit.prevent="validateBeforeSubmit" id="addForm">
        <div class="column is-12">
            <label class="label">Name</label>
            <p class="control">
                <b-input name="name" v-model="name" v-validate="'required'" :class="{'is-danger': errors.has('name') }" type="text" placeholder="Name"></b-input>
                <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
            </p>
        </div>

        <div class="column is-12">
            <label class="label">Description</label>
            <p class="control">
                <b-input name="description" v-model="description" v-validate="'required'" :class="{'is-danger': errors.has('description') }" type="textarea" placeholder="Description"></b-input>
                <span v-show="errors.has('description')" class="help is-danger">{{ errors.first('description') }}</span>
            </p>
        </div>

        <div class="column is-12">
            <label class="label">Price</label>
            <p class="control">
                <b-input name="price" v-model="price" v-validate="'required|decimal:3'" :class="{'is-danger': errors.has('price') }" type="text" placeholder="Price"></b-input>
                <span v-show="errors.has('price')" class="help is-danger">{{ errors.first('price') }}</span>
            </p>
        </div>

        
        <div class="column is-12">
            <img :src="imageUrl" height="400" width="400" v-if="imageUrl"/>
            <p class="control">
                <b-field class="file">
                    <b-upload v-model="files" v-validate="'required'" :class="{'is-danger': errors.has('image') }" name="image">
                        <a class="button is-primary">
                            <b-icon icon="upload"></b-icon>
                            <span>Click to upload</span>
                        </a>
                    </b-upload>
                    <span class="file-name"
                        v-if="files && files.length">
                        {{ files[0].name }}
                    </span>
                    <span v-show="errors.has('image')" class="help is-danger">{{ errors.first('image') }}</span>
                </b-field>
            </p>
        </div>

        <br>
        <div class="column is-12">
            <p class="control">
                <button class="button is-primary" type="submit">Submit</button>
            </p>
        </div>
    </form>
  </div>
</section>