@import "~bulma";
@import url(https://fonts.googleapis.com/css?family=Knewave);
@import url(https://fonts.googleapis.com/css?family=Leckerli%20One);

.knewaveFont{
  font-family: 'Knewave';
  font-size: 20px;
  color: beige;
}

.leckOne{
  font-family: 'Leckerli One';
  font-size: 40px;
  color: beige;
}

.navbar-item{
  margin-left: 50px;
  margin-right: 50px;
}

@keyframes smallFadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0,-40%,0);
  }
  40% {
    opacity: 0.75;
    transform: none;
  }
  70% {
    opacity: 0.85;
    transform: translate3d(0,-10%,0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

#navBarID {
  animation: 1.5s smallFadeInDown;
}