<section class="nav-bar">
    <nav class="navbar is-danger" id="navBarID">
      <div class="container is-fluid">
        

          <div class="navbar-brand">
              <a class="navbar-item is-hidden-desktop">
                <div class="leckOne">
                  Fantasia
                </div>
              </a>
      
      
          <div class="navbar-burger" @click="showNav = !showNav" :class="{ 'is-active': showNav }">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <!--
        <div id="navMenuStart" class="navbar-menu" :class="{ 'is-active': showNav }">
          <div class="navbar-start">
            <a id="Home" href="#" class="navbar-item is-active">
              <div class="knewaveFont">
                Home
              </div>
            </a>
            <span></span>
            <a id="Create" class="navbar-item">
              <div class="knewaveFont">
                Create
              </div>
            </a>
          </div>
        </div>
        -->
        <div class="navbar-item is-hidden-touch">
          <div class="leckOne">
              Fantasia
          </div>
        </div>
        <!--
        <div id="navMenuEnd" class="navbar-menu" :class="{ 'is-active': showNav }">
          <div class="navbar-end">
            <a id="About" class="navbar-item">
              <div class="knewaveFont">
                About
              </div>
            </a>
            <a class="navbar-item">
              <span class="knewaveFont">Logout</span>
            </a>
          </div>
        </div>
        -->
      </div>
    </nav>
  </section>
  