<section class="intro">
  <section class="hero is-fullheight is-primary is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div>
              <div class="column is-4 is-offset-4">
                <router-view></router-view>
              </div>
            </div>
        </div>
    </div>
  </section>
</section>