$box-background-color: hsla(360, 100%, 100%, 0.15);
@import '~bulma';

@keyframes smallFadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,40%,0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

#loginBox {
    animation: 1s smallFadeInUp;
}