<section class="login">
  <div id="loginBox">
      <div  class= "box">
          <b-field label="Username">
              <b-input id="username" value="" maxlength="30"></b-input>
          </b-field>
          <b-field label="Password">
              <b-input @keydown.native.enter="login" id="password" type="password"
                  value=""
                  password-reveal>
              </b-input>
          </b-field>
          <a v-on:click="login" class="button is-primary is-inverted is-outlined">
              Login
          </a>
      </div>
  </div>
</section>